body {
  margin: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/background-sea.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.fish {
  position: absolute;
  background-image: url("/fish-gold-2d-nobg.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
